# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.env

# Node
node_modules/

# Temporary files
*.tmp
*.temp
*.log
